{% extends 'blogs/base.html' %}

{% block content %}
<p>{{ blog.name }}</p>
<p><a href="{% url 'blogs:new_post' blog.id%}">Create a new post</a></p>
<p>Posts: </p>

<ul>
  {% for post in posts %}
  <li>
    <h3>{{ post.title }} - <small><a href="{% url 'blogs:edit_post' post.id%}">edit post</a></small></h3>
    <p>{{ post.content|linebreaks }}</p>
    <p><i>posted on {{ post.date_added|date:'M d, Y - H:i' }}</i></p>
    <hr>
    <br>
  </li>
  {% empty %}
  <li>No posts have been added to this blog yet.</li>
  {% endfor %}
</ul>
{% endblock content %}