{% extends 'blogs/base.html' %}

{% block content %}
<p>Start your blogging journey now...!</p>
<p>Welcome to our blog hosting site, where creativity meets opportunity!
  Embark on your blogging journey with us and unleash your voice to the world. Whether you're a seasoned writer or
  just dipping your toes into the vast ocean of blogging, our platform offers the perfect launchpad for your ideas,
  thoughts, and stories.</p>
<hr>
{% if recent_posts %}
<p>Recently added posts:</p>
<ul>
  {% for post in recent_posts %}
  <li>
    <p>
      <a href="{% url 'blogs:blog' post.blog.id %}">{{post.blog.name}}</a> - {{ post.title}} |
      <small><i>{{ post.date_added|date:'M d, Y - H:i' }}</i></small>
    </p>
    <p>{{ post.content|truncatewords:50|linebreaks }}</p>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock content %}